NODE_ENV=development

APP_PORT=3000
APP_HOST=localhost

# DB configuration
host=172.18.0.2
port=5432
user=postgres
password=postgres
dialect=postgres
db=test
timeZone=Asia/Dubai

# JWT secret
secret="thisIsJwtToken."

# SMTP configuration
MAIL_SERVICE="gmail"
EMAIL="email"
PASSWORD="password"