NODE_ENV=development

APP_PORT=3000
APP_HOST=localhost

# DB configuration
host=127.0.0.1
port=5432
user=postgres
password=postgres
dialect=postgres

# JWT secret
secret="thisIsJwtToken."

# SMTP configuration
MAIL_SERVICE="gmail"
EMAIL="email"
PASSWORD="password"